body{
    margin:0;
    padding:0;
}
 *{
     margin:0;
     padding:0;
     font-family: "montserrat",sans-serif;
 }

 button {
    float:right;
}

 .contact-section{
     background-color: inherit;
     padding: 40px 0;
 }

 .contact-section h2
 {
     text-align: center;
 }

 .contact-form{
     max-width: 600px;
     margin: auto;
     padding: 0 10px;
     overflow: hidden;
 }

 .contact-form-text{
     display: block;
     width: 100%;
     box-sizing: border-box;
     margin: 16px 0;
     border-color: #111;
     border-radius: 20px;
     padding: 10px 30px;
     outline: none;
     color: black;
     transition: 0.3s;
 }

 .contact-form-text:focus{
     box-shadow: 0 0 2px 3px #34495e;
 }
 
 textarea.contact-form-text{

    resize: none;
    height: 90px;

 }

 .contact-form-button{
     float: right;
     border: 0;
     background: #34495e;
     padding: 12px 50px;
     cursor: pointer;
     border-radius: 20px;
     color: #fff;
 }

 .contact-form-button:hover{
     background: #2980b9;
     transition: 0.5s ease;
 }


 