<html>
<head>
  
</head>
<body>
  <h3>Match ID {{match_id}}</h3>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="First group">
      <button type="button" class="btn btn-success">1</button>
      <button type="button" class="btn btn-success">2</button>
      <button type="button" class="btn btn-success">3</button>
      <button type="button" class="btn btn-success">4</button>
      <button type="button" class="btn btn-success">5</button>
    </div>
  </div>
  <br />

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="First group">
      <button type="button" class="btn btn-success">1</button>
      <button type="button" class="btn btn-success">2</button>
      <button type="button" class="btn btn-success">3</button>
      <button type="button" class="btn btn-success">4</button>
      <button type="button" class="btn btn-success">5</button>
    </div>
  </div>
  <br>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
      <button type="button" class="btn btn-success">1</button>
      <button type="button" class="btn btn-success">2</button>
      <button type="button" class="btn btn-success">3</button>
      <button type="button" class="btn btn-success">4</button>
      <button type="button" class="btn btn-success">5</button>
    </div>
  </div>

</body>
</html>
