<!DOCTYPE html>
<html>
<head>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let match of matches">
        {{match.home}} vs {{match.away}} <br />
        Starting at {{match.date}}
        Tickets left: {{match.ticketCount}}
        <div *ngIf="match.ticketCount>0 else soldout">
        <a [routerLink]="['/buyticket/',match.id,match.home,match.away,match.date,match.ticketCount]">
          <button type="button" class="btn btn-primary">
            Buy Ticket
          </button>
        </a>
        </div>
        <ng-template #soldout>
          <button type="button" class="btn btn-secondary" disabled style="cursor:default;">Sold out</button>
        </ng-template>
      </li>
    </ul>

  </div>

</body>

</html>
