<!DOCTYPE html>
<html>
<head>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <h2 class="text-center text-primary">Upcoming Matches</h2>
  <hr>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let match of matches">
        {{match.teamHost}} vs {{match.teamAway}} <br />
        Starting at {{match.date | date: "dd/MM/yyyy HH:mm" }}
        <a *ngIf="this.authService.loggedIn() && match.ticketCount>0" [routerLink]="['/buyticket/',match.id,match.teamAway,match.teamHost,match.date, match.ticketCount]">
        <button type="button" class="btn btn-primary">{{buttonText}} <div style="font-size:x-small" > <div aria-hidden="true" *ngIf="match.ticketCount<=5">Only {{match.ticketCount}} Available</div> </div></button>
      </a>
      <button *ngIf="match.ticketCount==0" [disabled]="match.ticketCount==0" type="button" class="btn btn-secondary">Sold Out</button>
      <button *ngIf="!this.authService.loggedIn() && match.ticketCount >0 " type="button" class="btn btn-primary" [disabled]="!this.authService.loggedIn()">{{buttonText}}</button>
      </li>
    </ul>

  </div>

</body>

</html>
